dt sup a {
    font-size: 0.8em;
    border: 1px solid #1D6DAE;
    padding: 0 0.3em;
    margin-left: 0.5em;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
}

dt sup a:hover {
    background-color: #1D6DAE;
    color: white;
    /* fade in and out */
    transition: all 0.3s ease-in-out;
}