*:target {
  /* scroll-margin-top: 160px; */
  scroll-margin-top: calc(50vh);
  /* Matches sticky header height */
}

body:not([hashscroll]) *:target {
  animation: highlight-target 3.5s 0.25s ease;
}

body:not([hashscroll]) dt:has(:target) {
  animation: highlight-target-parent-dt 3.5s 0.25s ease;
}

svg[icon] {
  width: 1.25em;
  height: 1.25em;
  vertical-align: text-top;
}

@keyframes highlight-target {
  50% {
    background-color: yellow;
  }
}
@keyframes highlight-target-parent-dt {
  50% {
    background-color: yellow;
    border: 1px solid rgb(0, 200, 255);
  }
}

#svg {
  display: none;
}


main * {
  word-break: break-all;
  /* Breaks at any character */
  /* OR */
  overflow-wrap: break-word;
  /* Breaks only at allowed break points, more browser support */
}

dd td img {
  max-width: 30px;
}