/*
  Author: Kor Dwarshuis, kor@dwarshuis.com
  Created: 2024-03-29
  Description: In–page search functionality. JavaScript in /assets/js/search.js
*/


/* Basic styles */
#search-h7vc6omi2hr2880 {
  margin: 0.1em 0.5em;
  height: 1.5em;
}

.highlight-matches-search-h7vc6omi2hr2880 {
  outline: 3px solid #1d6dae80;

  /* Works in tandem with the setTimeout in JS: */
  transition: outline 0.3s ease-in-out;
}

.highlight-matches-search-h7vc6omi2hr2880.active {
  outline: 8px solid #1d6dae;

  /* Works in tandem with the setTimeout in JS: */
  transition: outline 1s ease-in-out;
}

/* Specific styles */
.highlight-matches-DIF-search-h7vc6omi2hr2880 {
  background-color: #1d6dae11;
}

.highlight-matches-ToIP-search-h7vc6omi2hr2880 {
  background-color: #a9dde0b0;
}

.highlight-matches-BTC-search-h7vc6omi2hr2880 {
  background-color: #f19019a1;
}

.highlight-matches-KERI-search-h7vc6omi2hr2880 {
  background-color: #b5d070d5;
}

.highlight-matches-SSI-search-h7vc6omi2hr2880 {
  background-color: yellow;
}

.highlight-matches-GLEIF-search-h7vc6omi2hr2880 {
  background-color: #52dac6a6;
}

#back-and-forth-buttons-container-search-h7vc6omi2hr2880 {
  padding: 0;
}

#back-and-forth-buttons-container-search-h7vc6omi2hr2880 #one-match-backward-search-h7vc6omi2hr2880 {
  margin-right: 0.5em;
}

#container-search-h7vc6omi2hr2880 {
  flex-basis: 100%;
}

.panel-header#header {
  flex-wrap: wrap;
  height: auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #container-search-h7vc6omi2hr2880 {
    flex-basis: auto;
  }

  .panel-header#header {
    flex-wrap: nowrap;
    height: var(--header-height);
  }
}